html, body, #root {
  height: 100%;
}

.c-dropdown {
  /* style={{ width: '100%', height: 200, overflow: 'auto' }} */
  width: 100%;
  height: 200px;
  overflow: auto;

}

.c-dropdown li:hover {
  background-color: #CCC;
  cursor: pointer;
}